# Ignore virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Node.js dependencies
/frontend/node_modules/

# Large or unnecessary model files
/Backend/chatbot/bert_squad_model/model.safetensors
